<section class="logos">
    <ul class="logos__list">
        <li class="logos__item"><img class="logos__image" src="./assets/logos/amazon-logo.png" alt="logo da amazon"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/logos/dribble-logo.png" alt="logo da driblle"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/logos/hubspot-logo.png" alt="logo do hubspot"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/logos/netflix-logo.png" alt="logo do notion"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/logos/notion-logo.png" alt="logo da netflix"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/logos/zoom-logo.png" alt="logo do zoom"></li>
    </ul>
</section>
