<section class="logos">
    <ul class="logos__list">
        <li class="logos__item"><img class="logos__image" src="./assets/molecules/positivus-companies-logo/amazon-logo.png" alt="logo da amazon"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/molecules/positivus-companies-logo/dribble-logo.png" alt="logo da driblle"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/molecules/positivus-companies-logo/hubspot-logo.png" alt="logo do hubspot"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/molecules/positivus-companies-logo/netflix-logo.png" alt="logo do notion"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/molecules/positivus-companies-logo/notion-logo.png" alt="logo da netflix"></li>
        <li class="logos__item"><img class="logos__image" src="./assets/molecules/positivus-companies-logo/zoom-logo.png" alt="logo do zoom"></li>
    </ul>
</section>
