<section class="cta-banner">
    <div class="cta-banner__background">
        <div class="cta-banner__content">
            <h2 class="cta-banner__title title-h2">Let’s make things happen</h2>

            <p class="cta-banner__description paragraph">
                Contact us today to learn more about how our digital marketing
                services can help your business grow and succeed online.
            </p>

            <positivus-button text="Get your free proposal" variant="link" modifier="secondary" href="#" target="_blank">
            </positivus-button>
        </div>
    </div>
    <div class="cta-banner__illustration">
        <img class="cta-banner__image" src="./assets/illustrations/banner-illustration.png" alt="figura animada" />
    </div>
</section>