<section class="cta-banner">
    <div class="cta-banner__background">
        <div class="cta-banner__content">
            <h2 class="cta-banner__title title-h2">Let’s make things happen</h2>

            <p class="cta-banner__description paragraph">
                Contact us today to learn more about how our digital marketing
                services can help your business grow and succeed online.
            </p>

            <!--futuramente será convertido em um átomo -->
            <a href="#" class="cta-banner__button">Get your free proposal</a>
        </div>
    </div>
    <div class="cta-banner__illustration">
        <img class="cta-banner__image" src="./assets/illustrations/banner-illustration.png" alt="figura animada" />
    </div>
</section>