<ul class="card-list">
  <li class="card-list__item">
    <positivus-example-card
      title="Consultoria de SEO"
      text="Aumente o tráfego orgânico do seu site com estratégias personalizadas."
    ></positivus-example-card>
  </li>
  <li class="card-list__item">
    <positivus-example-card
      title="Gestão de Redes Sociais"
      text="Aumente sua presença online e conecte-se com seu público."
    ></positivus-example-card>
  </li>
  <li class="card-list__item">
    <positivus-example-card
      title="Marketing de Conteúdo"
      text="Conte a história da sua marca com conteúdo relevante e envolvente."
      tone="highlight"
    ></positivus-example-card>
  </li>
</ul>
