<div class="card" data-prop-modifier="appearance">
  <a class="card__image-link" href="#" data-prop-href="image-href">
    <img
      class="card__image"
      src="./assets/illustrations/example.svg"
      alt="Ilustração do card de exemplo"
      data-prop-src="src"
      data-prop-alt="alt"
    />
  </a>
  <h2 class="card__title" data-prop="title">Example Card</h2>
  <p class="card__text" data-prop="text">Este é um componente de exemplo.</p>
  <a class="card__link" href="#" data-prop-href="href">Saiba mais</a>
</div>
