<section class="hero">
    <div class="hero__content">
        <h1 class="auxiliar-colors title-h1">Navigating the digital landscape for success</h1>
        <p class="hero__description paragraph">
            Our digital marketing agency helps businesses grow and succeed online through a range of
           services including SEO, PPC, social media marketing, and content creation.
        </p>
        <positivus-button text="Book a consultation" variant="link" modifier="secondary" href="#" target="_self">
        </positivus-button>
    </div>
    <div class="hero__illustration">
        <img class="hero__image" src="./assets/illustrations/Hero-banner-Illustration.png" alt="figura animada" />
    </div>
</section>